    {{#each carts}}
    <h3>Cart ID: {{this._id}}</h3>
    <table class="table table-dark table-striped table-hover">
        <tr>
            <td><strong>Producto</strong></td>
            <td><strong>Precio</strong></td>
            <td><strong>Cantidad</strong></td>
            
        </tr>
            {{#each products}}
            <tr>
                {{#id}}
                <td>{{title}}</td>
                <td>${{price}}</td> 
                {{/id}}
                <td>{{this.quantity}}</td>
            </tr>
            {{/each}}  
    </table>
    {{/each}}
<br>