<section class="row justify-content-center">
<h1 class="text-center my-3">Recuperar contraseña</h1>
    <div class="card p-3" style="width: 22rem;">
        <p class="text-muted text-center">Ingresa tu correo electrónico y te enviaremos un enlace para que recuperes el acceso a tu cuenta.</p>
        <form class="row justify-content-center" action="/session/password-reset" method="post">
            <div class="form-group my-2" >
                {{#if message}}
                    <p class="m-0 ms-1 text-danger" style="font-size: 14px;">{{message}}</p>
                {{/if}}
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <button type="submit" class="btn btn-primary my-3 col-12">Enviar enlace</button>
            </div>
        </form>
    </div>
</section>