<section class="row justify-content-center">
<h1 class="text-center my-3">Restablecer contraseña</h1>
    <div class="card p-3" style="width: 22rem;">
        <form class="row justify-content-center">
            <div class="form-group my-2" >
                {{#if message}}
                    <p class="m-0 ms-1 text-danger" style="font-size: 14px;">{{message}}</p>
                {{/if}}
                <input type="password" class="form-control" id="newPassword" name="password" aria-describedby="emailHelp" placeholder="Nueva contraseña">
                 <input type="password" class="form-control mt-3" id="newPasswordConfirm" name="passwordConfirm" aria-describedby="emailHelp" placeholder="Confirmar contraseña">
                <div id="restorePasswordValid" class="text-danger"></div>
                <button id="restoreFormSubmit" type="submit" class="btn btn-primary my-3 col-12">Restablecer</button>
            </div>
        </form>
    </div>
</section>

<script src="/js/restore.js"></script>