<h1>Registrar Usuarios</h1>

<form action="/session/register" method="post"> <br>
    First Name: <input type="text" name="first_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    Email: <input type="email" name="email"><br>
    Age: <input type="number" name="age"><br>
    Password: <input type="password" name="password"><br>
    <br>
    <input type="submit" value="Crear">
</form>

<p> Ya tienes una cuenta? <a href="/session/login">Ingresa</a></p>
