<section class="row justify-content-center">

<h1 class="text-center my-3">Crear cuenta</h1>
<div class="card p-3" style="width: 22rem;">
    <form class="row justify-content-center" action="/session/register" method="post">
    <div class="form-group my-2">
            <label for="first_name">First name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" aria-describedby="emailHelp" placeholder="Enter first name">
        </div><div class="form-group my-2">
            <label for="last_name">Last name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" aria-describedby="emailHelp" placeholder="Enter last name">
        </div>
        <div class="form-group my-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group my-2">
            <label for="age">Edad</label>
            <input type="number" min="1" max="99" class="form-control" id="age" name="age" aria-describedby="emailHelp" placeholder="Enter age">
        </div>
        <div class="form-group my-2">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary my-3 col-10">Crear cuenta</button>
    </form>
    <p class="mt-3 text-center">¿Ya tienes una cuenta? <a href="/session/login">Ingresa</a></p>
</div>
</section>
